
<h2 style="text-align: center;"><strong> PROYECTO 1 - BICICLETAS COMPARTIDAS</strong></h2>

<style>
  .image {
            overflow: hidden;
            width: 100%;
            border-radius: 20px;
            object-fit: cover;
        }
  .container {
            width: 100%;
            height: 450px;
        }
 
</style>
<div class="container">
    <img src= "..\img\bicycle.png" class="image"/>
</div>

<div style="text-align: center;">
  Analítica Computacional para la Toma de Decisiones IIND-4130 <br>
  Universidad de los Andes &copy; 2024 <br>
  5 de septiembre de 2024 <br><br>
  <strong>GRUPO :</strong> <br>
  Laura Calderón 202122045 <br>
  Daniela Espinosa 202022615 <br>
  Camilo Duque 202024289 <br>
</div>

### **Tarea 2 - Limpieza y alistamiento de datos**

#### Carga de datos

In [8]:
import pandas as pd
df = pd.read_csv('SeoulBikeData_utf8.csv')
df.shape

(8760, 14)

#### Perfilamiento de los Datos

Información del dataset:

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date                      8760 non-null   object
 1   Rented Bike Count         8760 non-null   int64
 2   Hour                      8760 non-null   int64
 3   Temperature(C)            8760 non-null   float64
 4   Humidity(%)               8760 non-null   int64
 5   Wind speed (m/s)          8760 non-null   float64
 6   Visibility (10m)          8760 non-null   int64
 7   Dew point temperature(C)  8760 non-null   float64
 8   Solar Radiation (MJ/m2)   8760 non-null   float64
 9   Rainfall(mm)              8760 non-null   float64
 10  Snowfall (cm)             8760 non-null   float64
 11  Seasons                   8760 non-null   object
 12  Holiday                   8760 non-null   object
 13  Functioning Day           8760 non-null   object
dtypes: float64(6), int64(4), object(4)
memory usage: 958.2+ KB

Como podemos ver, el dataframe no tiene valores nulos.

Análisis de duplicados:

In [10]:
duplicates = df.duplicated().sum()
print(f"\nNúmero de registros duplicados: {duplicates}")

Número de registros duplicados: 0

El dataframe tiene duplicados.

Valores únicos por columna:

In [11]:
levels = df.apply(pd.Series.unique)
num_levels = df.apply(pd.Series.nunique)
print("Valores unicos por columna:")
print(levels)
print("\nNúmero unicos por columna:")
print(num_levels)

Valores unicos por columna:
Date                        [01/12/2017, 02/12/2017, 03/12/2017, 04/12/201...
Rented Bike Count           [254, 204, 173, 107, 78, 100, 181, 460, 930, 4...
Hour                        [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...
Temperature(C)              [-5.2, -5.5, -6.0, -6.2, -6.4, -6.6, -7.4, -7....
Humidity(%)                 [37, 38, 39, 40, 36, 35, 27, 24, 21, 23, 25, 2...
Wind speed (m/s)            [2.2, 0.8, 1.0, 0.9, 2.3, 1.5, 1.3, 1.1, 0.5, ...
Visibility (10m)            [2000, 1928, 1996, 1936, 793, 1913, 1687, 1380...
Dew point temperature(C)    [-17.6, -17.7, -18.6, -18.7, -19.5, -19.3, -19...
Solar Radiation (MJ/m2)     [0.0, 0.01, 0.23, 0.65, 0.94, 1.11, 1.16, 1.01...
Rainfall(mm)                [0.0, 0.5, 1.0, 2.5, 0.1, 0.2, 0.3, 0.7, 1.6, ...
Snowfall (cm)               [0.0, 0.1, 0.3, 0.4, 0.2, 1.0, 0.9, 0.8, 0.7, ...
Seasons                                      [Winter, Spring, Summer, Autumn]
Holiday                                                 [No Holiday, Holiday]
Functioning Day                                                     [Yes, No]
dtype: object

Número unicos por columna:
Date                         365
Rented Bike Count           2166
Hour                          24
Temperature(C)               546
Humidity(%)                   90
Wind speed (m/s)              65
Visibility (10m)            1789
Dew point temperature(C)     556
Solar Radiation (MJ/m2)      345
Rainfall(mm)                  61
Snowfall (cm)                 51
Seasons                        4
Holiday                        2
Functioning Day                2
dtype: int64

La columna Seasons tiene cuatro ategorías: [Winter, Spring, Summer, Autumn]. Mientras que las columnas Holiday y Functioning Day son categóricas binarias, con valores [No Holiday, Holiday] y [Yes, No] respectivamente.

#### Limpieza de datos

In [12]:
data = df.copy()

Manejo de las variables categóricas:

In [13]:
# Conversión de columnas categóricas binarias
data['Functioning Day'] = data['Functioning Day'].map({'No': 0, 'Yes': 1})
data['Holiday'] = data['Holiday'].map({'No Holiday': 0, 'Holiday': 1})

# Conversión de columnas con más categorías
data = pd.get_dummies(data, columns=['Seasons'], drop_first=True)
data['Seasons_Spring'] = data['Seasons_Spring'].astype(int)
data['Seasons_Summer'] = data['Seasons_Summer'].astype(int)
data['Seasons_Winter'] = data['Seasons_Winter'].astype(int)

print('New Number of Features: %d'%(data.shape[1]))
data.head()

New Number of Features: 16

,Date,Rented Bike Count,Hour,Temperature(C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Holiday,Functioning Day,Seasons_Spring,Seasons_Summer,Seasons_Winter
0,01/12/2017,254,0,-5.2,37,2.2,2000,-17.6,0.0,0.0,0.0,0,1,0,0,1
1,01/12/2017,204,1,-5.5,38,0.8,2000,-17.6,0.0,0.0,0.0,0,1,0,0,1
2,01/12/2017,173,2,-6.0,39,1.0,2000,-17.7,0.0,0.0,0.0,0,1,0,0,1
3,01/12/2017,107,3,-6.2,40,0.9,2000,-17.6,0.0,0.0,0.0,0,1,0,0,1
4,01/12/2017,78,4,-6.0,36,2.3,2000,-18.6,0.0,0.0,0.0,0,1,0,0,1

Manejo de las fechas en la columna Date:

In [14]:
# Convertir a formato datetime
data['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%Y')

# Convertir las fechas a su representación ordinal
data['Date_ordinal'] = data['Date'].apply(lambda x: x.toordinal())

fecha_minima = data['Date'].min().toordinal()
fecha_maxima = data['Date'].max().toordinal()

# Escalar las fechas entre 0 y 1
data['Date_scaled'] = (data['Date_ordinal'] - fecha_minima) / (fecha_maxima - fecha_minima)

# Borrar las columnas Date y Date_ordinal
data = data.drop(columns = ['Date', 'Date_ordinal'])

data

,Rented Bike Count,Hour,Temperature(C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Holiday,Functioning Day,Seasons_Spring,Seasons_Summer,Seasons_Winter,Date_scaled
0,254,0,-5.2,37,2.2,2000,-17.6,0.0,0.0,0.0,0,1,0,0,1,0.0
1,204,1,-5.5,38,0.8,2000,-17.6,0.0,0.0,0.0,0,1,0,0,1,0.0
2,173,2,-6.0,39,1.0,2000,-17.7,0.0,0.0,0.0,0,1,0,0,1,0.0
3,107,3,-6.2,40,0.9,2000,-17.6,0.0,0.0,0.0,0,1,0,0,1,0.0
4,78,4,-6.0,36,2.3,2000,-18.6,0.0,0.0,0.0,0,1,0,0,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,1003,19,4.2,34,2.6,1894,-10.3,0.0,0.0,0.0,0,1,0,0,0,1.0
8756,764,20,3.4,37,2.3,2000,-9.9,0.0,0.0,0.0,0,1,0,0,0,1.0
8757,694,21,2.6,39,0.3,1968,-9.9,0.0,0.0,0.0,0,1,0,0,0,1.0
8758,712,22,2.1,41,1.0,1859,-9.8,0.0,0.0,0.0,0,1,0,0,0,1.0
8759,584,23,1.9,43,1.3,1909,-9.3,0.0,0.0,0.0,0,1,0,0,0,1.0